@import "tailwindcss";

:root {
  --bg: #FBF6F1;
  --text: #213614;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-sans), system-ui, -apple-system, "Segoe UI", Roboto,
    Arial, "Noto Sans";
    overflow-x: hidden;
}
