@import 'tailwindcss';

:root {
  --bg: #f4f7f8;
  --bg-2: #e9eef0;
  --bg-3: #cbd4de;
  --text: #224147;
  --margin-sm: 1rem;
  --margin-md: 1.5rem;
  --margin-lg: 2rem;
  --margin-xl: 3rem;
  --margin-2xl: 4.5rem;
}

body {
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
  font-family: var(--font-montserrat);
}
